#form-file-upload {
  height: 16rem;
  width: 50rem;
  max-width: 100%;
  text-align: center;
  position: fixed;
  margin-left: 10%;
  margin-top: 10px;
}

#header{
    text-align: right;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color:slategrey;
  background-color: white;
}

#file-pic{
    height: 10rem;
    border-color: black;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
  color: black;
}

.upload-button:hover {
  text-decoration-line: underline;
}